@import "../component-styles/nav-bar-styles.css";
@import "../variables/colors.css";
@import "../variables/typography.css";
@import "../component-styles/project-styles.css";

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1 {
    font-weight: 400;
    font-size: 20px;
}
.j_header_box {
    width: 20em;
}
.j_header_box img {
    width: 100%;
}


.pov_captions {
    display: flex;
}
.pov_captions p + p {
    margin-left: 18.75em;
}
.jprob_captions {
    display: flex;
}
.jprob_captions p + p {
    margin-left: 21.3em;
}


.cupcake_list {
    width: 30px;
    height: 30px;
}
.impact_items {
    display: flex;
    align-items: baseline;
}
.impact_items p {
    margin-bottom: 0;
    margin-top: 0;
}


.j_story_img {
    width: 55em;
    margin-top: 3em;
}
.j_story_img img {
    width: 100%
}


.j_sb_captions {
    display: flex;
}
.j_sb_captions p + p {
    margin-left: 6em;
}

.frames_label {
    display: flex;
}
.frames_label p + p {
    margin-left: 26em;
}


.pink_arrow {
    display: flex;
    justify-content: center;
}
.list_spacing li {
    margin-bottom: 1em;
}


.og_j_logo {
    width: 10em;
}
.og_j_logo img {
    width: 100%;
}

.j_logo_cap {
    display: flex;
    align-items: center;
}
.j_logo_cap div + p {
    margin-left: 11.5em;
}


.j_logo_bare {
    width: 12em;
}
.j_logo_bare img {
    width: 100%;
}
.j_goal_list h2 + div {
    margin-left: 10em;
}


.j_color_palette div + div {
    margin-top: 2em;
}
.colour_p_box {
    display: flex;
    align-items: center;
    align-content: center;
}
.colour_p_box div + div {
    margin-left: 6em;
    margin-top: 0%;
}


.j_type_combo {
    display: flex;
}
.j_type_combo div + div {
    margin-right: 6em;
}
.j_type_box div + div {
    margin-top: 4em;
}
.j_type_exp p + p {
    margin-top: 4.5em;
}


.home_about_designs {
    display: flex;
}
.home_about_designs div + div {
    margin-left: 12em;
}
.main_page_designs > div + div {
    margin-top: 4em;
}


.j_product_listings {
    display: flex;
}
.j_product_listings > div + div {
    margin-left: 12em;
}
.j_product_variations div + div {
    margin-top: 4em;
}


.j_payment_section {
    display: flex;
}
.j_payment_section > div + div {
    margin-left: 12em;
}