@import "../component-styles/nav-bar-styles.css";
@import "../variables/colors.css";
@import "../variables/typography.css";
@import "../component-styles/project-styles.css";

.n_header_box {
    width: 15em;
}
.n_header_box img {
    width: 100%;
}


.n_project_grid {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}
.n_project_overview_img {
    display: flex;
    justify-content: center;
}


.n_storyboards { 
    display: flex;
    flex-direction: column;
    align-items: center;
}


.n_storyboard {
    width: 100%;
}
.n_storyboard_cap {
    display: flex;
    align-self: center;
    justify-self: center;
    margin-bottom: 4em;
}
.n_storyboard img {
    width: 100%;
}


.n_wireframe_set {
    display: flex;
    justify-content: center;
}
.n_wireframe_set > div + div {
    margin-left: 13em;
}


.n_lo_fi_img {
    display: flex;
    justify-content: center;
}

.n_testing_process {
    list-style-type: circle;
}

.blue_arrow {
    display: flex;
    justify-content: center;
}
.blue_arrow img {
    width: 2%;
}

.branding {
    display: flex;
    flex-direction: column;
}
.n_des {
    align-self: center;
}
.branding > div {
    width: 70%;
    display: flex;
    justify-self: center;
}
.branding > div > img {
    width: 100%;
}



.typography {
    display: flex;
    flex-direction: column;
}
.n_type {
    width: 40em;
    align-self: center;
}
.n_type img {
    width: 100%;
}

.hi_fi_section > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.participant_feedback {
    display: flex;
    flex-direction: column;
}
.feedback_img {
    align-self: center;
    width: 45em;
}
.feedback_img img {
    width: 100%;
}