nav {
    font-weight: 300;
    display: flex;
    justify-content: flex-end;
    padding-right: 5em;
}
nav ul {
    display: flex;
    flex-direction: row;
}
nav ul li {
    list-style-type: none;
}
nav ul li + li {
    margin-left: 2em;
}