header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
}
header h1 {
    font-weight: 400;
    font-size: 20px;
}

.section_hr {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
}
section, .section_hr {
    grid-column: 2/3;
}


.persona_img {
    width: 20em;
}
.persona_img img {
    width: 100%;
}
.persona_card  {
    display: flex;
    flex-direction: column;
}
.persona_card p {
    display: flex;
    align-self: center;
}
.persona_box {
    display: flex;
    flex-direction: column;
} 
.persona_outline {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.persona_outline div + div {
    margin-left: 4em;
}


.numbered_list {
    list-style: decimal;
}
.list_spacing li {
    margin-bottom: 1em;
}


.color_p_img {
    width: 6em;
}
.color_p_img img {
    width: 100%;
}


.page_design_img {
    width: 22em;
}
.page_design_img img{
    width: 100%;
}


.section_space_within {
    margin-bottom: 4em;
}


.back_to_top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ol li + li {
    margin-top: 1em;
}

