.section_hr {
    width: 55em;
    margin-top: 3em;
    margin-bottom: 3em;
}

.project_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


section, .section_hr {
    grid-column: 2/3;
}


.persona_img {
    width: 20em;
}
.persona_img img {
    width: 100%;
}
.persona_card  {
    display: flex;
    flex-direction: column;
}
.persona_box {
    display: flex;
}
.persona_box div + div {
    margin-left: 13em;
}

.numbered_list {
    list-style: decimal;
}


.color_p_img {
    width: 6em;
}
.color_p_img img {
    width: 100%;
}


.page_design_img {
    width: 22em;
}
.page_design_img img{
    width: 100%;
}


.section_space_within {
    margin-bottom: 4em;
}